 h2 {
    color:cyan;
    
}
h1{
    color:green;
    
    font-family: Arial, Helvetica, sans-serif;
}
#Affan{
    background-color: darkgreen;
}
#HTML{
    background-color: lightgreen;
}